<div class = "homepage-banner">
  <div class = "homepage-banner-canvas">
    <canvas width="2250" height="860" style="width: 1125px; height:430px;">
    </canvas>
  </div>
  <div class="container">
    <div class = "homepage-text">
        <div class="homepage-banner-title">
          美国硅谷一线工程师在线直播授课，为你打开IT名企的大门
        </div>
        <div class="homepage-banner-subtitle">
          九章算法已经帮助 30000 + 人成功拿到心仪的 Offer
        </div>
    </div>
  </div>

  <div class="flex-container">
      <a class="btn btn-sm" href="">VIP集训营</a>
      <div class="empty"></div>
      <a class="btn btn-sm" href="">课程</a>
      <div class="empty"></div>
      <a class="btn btn-sm" href="">微课堂</a>

    </div>
    
    





</div>