<html>
 <div class="jumbotron vertical-center"> 
    <div class="big-container shadow">
        <div class = "md-container">
            <div class = "input">
                username


            </div>
            <div class = "input">
                password

            </div>
            <div class=login>
                LOGIN

            </div>
            <div style = "text-align: center; font-size: 14px">
                <span style = "color: rgb(141, 141, 141)">
                    Not registered?
                </span> 
                <span style="color: rgb(77, 177, 77)">
                    Create and account
                </span>
            </div>
        </div>
    </div>
</div>
</html>

